# Prevent compiled files from leaking into src/
src/**/*.js
src/**/*.js.map
src/**/*.d.ts

node_modules/
dist/
.env
*.local

# Frontend
frontend/dist/
frontend/.env
frontend/.env.example

# Backend
backend/dist/
backend/.env
backend/.env.example
backend/tsconfig.tsbuildinfo